<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>

<link rel="stylesheet" href="/static/style.css">
</head>
<body>
	
<table width="100%">
	<tr>
		<td style="white-space: nowrap;"><img src="/static/logo.png" height="116" width="219"></td>                            
		<td style="white-space: nowrap;"><b style="color: #39b54a;font-size: 20pt">Σύστημα διαχείρησης βιοκαυσίμου</b></td>
		<td width="99%"><img style="float:right" src="/marketplace/static/Στιγμιότυπο 2019-12-15, 1.26.26 μμ.png" height="85" width="248"></td>
	</tr>
</table>

<ul>
	<li><a href="/">Αρχική</a></li>
	<li><a href="/search">Αναζήτηση</a></li>
	<li><a href="/insert/producer">Εγγραφή παραγωγού</a></li>
	<li><a href="/insert/byproduct">Εισαγωγή προϊόντος</a></li>
	<li style="float:right"><a class="active" href="/about">Σχετικά</a></li>
</ul>
	Το BIOMASSInVEstments είναι ένα πρότζεκτ φτιαγμένο από την ομάδα proGREENers στο πλαίσιο του go4.0green CrowdHackathon.
	Απώτερος σκοπός είναι η δημιουργία μίας διαδικτυακής υπηρεσίας του Υπουργείου Περιβάλλοντος και Ενέργειας που θα φέρεις κοντά παραγωγούς βιομάζας και καταναλωτές ενέργειας!
	Η ομάδα αποτελείται από 3 προπτυχιακούς φοιτητές του τμήματος Ηλεκτρολόγων Μηχανικών και Μηχανικών Υπολογιστών του Εθνικού Μετσόβιου Πολυτεχνείου. Τον Γιώργο Βιδαλάκη(5ο έτος), τον Κωνσταντίνο Αγιάννη(4ο έτος) και την Ειρήνη Τζέρμπου(1ο έτος). 


</body>
</html>
