<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Πλατφόρμα αγοραπωλησίας βιοκαυσίμου</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
	
<table width="100%">
	<tr>
		<td width="99%"><img style="float:right" src="/static/logo.png" height="85" width="248"></td>
		<td style="white-space: nowrap;"><b style="color: #39b54a;font-size: 20pt">Πλατφόρμα αγοροπωλησίας βιοκαυσίμου</b></td>
		<td style="white-space: nowrap;"><img src="/static/prog.png" height="116" width="219"></td>   
	</tr>
</table>

<ul>
	<li><a class="active" href="/">Αρχική</a></li>
	<li><a href="/login/producer">Είσοδος παραγωγού</a></li>
	<li><a href="/search/product">Αναζήτηση</a></li>
	<li><a href="/insert/producer">Εγγραφή παραγωγού</a></li>
	<li><a href="/insert/byproduct">Εισαγωγή προϊόντος</a></li>
	<li style="float:right"><a href="/about">Σχετικά</a></li>
</ul>
<center>
<p style="width: 70%;">
	<td width="99%"><img style="float:left" src="/static/klp.jpg" height="85" width="248"></td>
	Το BIOMASSInVEstment αποτελεί μία προσπάθεια δημιουργίας ενός πιλοτικού «χρηματιστηρίου» βιομάζας. 
	Στην πρώτη αυτή φάση υλοποίησης της συγκεκριμένης ιδέας είναι η παρούσα πλατφόρμα διάθεσης προϊόντων που θα αποτελέσουν την πρώτη ύλη για τη δημιουργία βιομάζας και βιοκαυσίμων. 
	Είναι ουσιαστικά μία προσπάθεια σχεδόν άμεσης επικοινωνίας και ανταλλαγής τους μεταξύ απλών πολιτών-επιχειρήσεων-αγροτών είτε μεταξύ τους είτε με ολόκληρες βιομηχανίες που θέλουν να χρωματίσουν την παραγωγή ενέργειας για τις εργασίες τους πράσινη! 
       <td width="99%"><img style="float:right" src="/static/plk.jpg" height="85" width="248"></td>
</p>
</center>
</body>
</html>
