<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>

<center>
	<table>
	<tr>
		<td width="99%"><img style="float:right" src="/marketplace/static/Στιγμιότυπο 2019-12-15, 1.26.26 μμ.png" height="85" width="248"></td>
		<td style="white-space: nowrap;"><b style="color: #39b54a;font-size: 20pt">Πλατφόρμα αγοροπωλησίας βιοκαυσίμου</b></td>
		<td style="white-space: nowrap;"><img src="/static/prog.png" height="116" width="219"></td>   
	</tr>
	</table>
</center>

<center>

<h2>Είσοδος παραγωγού</h2>
<form action="/login/producer" method="POST">
<table>
<tr><td>Επωνυμία</td><td><input type ="text" name = "name" required="required" /></td></tr>
<tr><td>Κωδικός πρόσβασης</td><td><input type="password" name="pass" required="required" /></td></tr>
<td><input type="submit" value="Είσοδος" /></td>
</table>
</form>

</center>
</body>
</html>
