<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Πλατφόρμα αγοραπωλησίας βιομάζας</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
	
<table width="100%">
	<tr>
		<td style="white-space: nowrap;"><img  src="/static/logo.png" height="85" width="248"></td>
		<td style="white-space: nowrap;"><b tyle="float:left" style="color: #39b54a;font-size: 20pt">Πλατφόρμα αγοροπωλησίας βιομάζας</b></td>
		<td width="99%"><img style="float:right" src="/static/prog.png" height="116" width="219"></td>   
	</tr>
</table>

<ul>
	<li><a href="/">Αρχική</a></li>
	<li><a class="active" href="/login/producer">Είσοδος παραγωγού</a></li>
	<li><a href="/search/products">Αναζήτηση</a></li>
	<li><a href="/insert/producer">Εγγραφή παραγωγού</a></li>
	<li><a href="/insert/byproduct">Εισαγωγή προϊόντος</a></li>
	<li><a href="/documentation">REST API DOC</a></li>
	<li style="float:right"><a href="/about">Σχετικά</a></li>
</ul>
<p style="width: 70%;margin-left: 15%;margin-top: 2%">
<center>

<h2>Είσοδος παραγωγού</h2>
<form action="/login/producer" method="POST">
<table>
<tr><td>Επωνυμία</td><td><input type ="text" name = "name" required="required" /></td></tr>
<tr><td>Κωδικός πρόσβασης</td><td><input type="password" name="pass" required="required" /></td></tr>
<td><input type="submit" value="Είσοδος" /></td>
</table>
</form>

</center>
</p>
</body>
</html>
