<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Σύστημα διχείρισης προϊόντων</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
	
<table width="100%">
	<tr>
		<td width="99%"><img style="float:right" src="/marketplace/static/Στιγμιότυπο 2019-12-15, 1.26.26 μμ.png" height="85" width="248"></td>
		<td style="white-space: nowrap;"><b style="color: #39b54a;font-size: 20pt">Πλατφόρμα αγοροπωλησίας βιοκαυσίμου</b></td>
		<td style="white-space: nowrap;"><img src="/static/prog.png" height="116" width="219"></td>   
	</tr>
</table>

<ul>
	<li><a class="active" href="/">Αρχική</a></li>
	<li><a href="/search/product">Αναζήτηση</a></li>
	<li><a href="/insert/producer">Εγγραφή παραγωγού</a></li>
	<li><a href="/insert/byproduct">Εισαγωγή προϊόντος</a></li>
	<li style="float:right"><a href="/about">Σχετικά</a></li>
</ul>
{{ main |safe}}
</body>
</html>
